! Configuration for the layer 3 switch
hostname Layer3Switch
!
!Enable layer 3 capabilities
ip routing
!
! Disable switchport to make interface layer 3
interface FastEthernet0/1
 no switchport
 ip address 10.0.0.10 255.255.255.252
!
!
interface FastEthernet0/4
 no switchport
 ip address 20.0.0.2 255.255.255.252
!
! Set up ospf
router ospf 1
 router-id 6.6.6.6
 log-adjacency-changes
 network 10.0.0.8 0.0.0.3 area 2
 network 20.0.0.0 0.0.0.3 area 2
!
! Ease of use
line con 0
 logging synchronous
!
end
