!
! Configuration (c) Elijah Stuenkel, CCNA, 2024
!
! Setting the device hostname
hostname Layer3Switch
!
! Enable layer 3 routing as well as ipv6 support
ip routing
ipv6 unicast-routing
!
! Interface connecting layer 3 switch to the backbone area
interface FastEthernet0/1
 no switchport
 ip address 10.0.0.10 255.255.255.252
 ipv6 address 2001:DB8:2::10/64
 ipv6 enable
 ipv6 ospf 1 area 2
!
! Interface connecting layer 3 switch to the other router in area 2
interface FastEthernet0/2
 no switchport
 ip address 20.0.0.2 255.255.255.252
 ipv6 address 2001:DB8:20::2/64
 ipv6 enable
 ipv6 ospf 1 area 2
!
! IPv4 ospf configuration
router ospf 1
 router-id 6.6.6.6
 log-adjacency-changes
 network 10.0.0.8 0.0.0.3 area 2
 network 20.0.0.0 0.0.0.3 area 2
!
! IPv6 ospf configuration, networks enabled per interface
ipv6 router ospf 1
 router-id 6.6.6.6
 log-adjacency-changes
!
! Enable synchronous logging to prevent debug messages from filling the screen
no ip domain lookup
line con 0
 logging synchronous
!
end

