
!
! Last configuration change at 16:28:03 UTC Fri Sep 13 2024
!
hostname Router3
!
ipv6 unicast-routing
ipv6 router ospf 1
 router-id 3.3.3.3
!
interface Serial0/1/0
 ip address 30.0.0.1 255.255.255.252
 ipv6 address 2001:db8:3:0::1/64
 ipv6 enable
 ipv6 ospf 1 area 1
 no shut
!
interface Loopback0
 ip address 10.1.1.1 255.255.255.0
 ipv6 address 2001:db8:1:1::1/64 
 ipv6 enable
 ipv6 ospf 1 area 1
 no shut
!
router ospf 1
 router-id 3.3.3.3
 network 10.1.1.1 0.0.0.255 area 1
 network 30.0.0.1 0.0.0.3 area 1
!
! Ease of use configuration changes, does not affect OSPF lab
no ip domain lookup
line con 0
 logging synchronous
 transport input none
 stopbits 1
!
!
end
